/* Fixed bottom tabs styles */
.fixed-bottom-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.tab-buttons {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 4rem;
  right: 0.6rem;
}

.tab-buttons button {
  flex: 1 1;
  background-color: #111;
  color: #888;
  border: none;
  padding: 0.6rem 0;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0;
  min-height: initial;
  box-sizing: content-box;
}
.tab-buttons button:hover{
  background: black;
  color: white;
}

.tab-buttons button.active {
  background-color: #000;
  color: white;
  font-weight: bold;
}

.tab-content {
  
}

