:root {

    --padding: 1rem;
    --padding-half: 0.5rem;
    --border-r: 1rem;
}
:root.dark {
    --bg: #4C4E60;
    --text-color: #ffffff;
    --text-bg: #27282E;
    --shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
    --header-bg: linear-gradient(to right, #005fa3, #004a80);
    --button-hover-bg: rgba(255, 255, 255, 0.2);

    --menu-bg: #1a1a1a;
    --menu-border: #333333;
    --menu-hover: #2a2a2a;
    --menu-text: #ffffff;
    --menu-close: #aaaaaa;
}

body{
    background: var(--bg);
    color: var(--text-color);
    font-family: system-ui;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
}

.app-container{
    padding: 5rem 1rem 1rem;
}

.app-container,
.fixed-bottom-tabs{
    margin: 0 auto;

}


.app-container.is-posts-list{
    padding: 9rem 1rem 1rem;
}


.card{
    background-color: var(--text-bg);
    border-radius: var(--border-r);
    box-shadow: var(--shadow);
    padding: var(--padding);
}
.fixed-bottom-tabs,
.app-container,
.card,
.is-posts-list .action-header {
    max-width: 400px;
}

header.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-half);
    position: fixed;
    top: -1px;
    width: calc(100% - 3rem);
    z-index: 10;
    border-radius: 0 0 1rem 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

button {
    background: none;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    box-shadow: var(--shadow);
    border: none;
    cursor: pointer;
    color: var(--text-color)
}


button:hover {
    background: var(--button-hover-bg);

}


.action-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c5f7c;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 1rem 1rem;
    margin-top: -2rem;
}

.is-posts-list .action-header {
    position: sticky;
    top: 2.5rem;
    margin-top: -6.5rem;

}
